{% extends "core/side_bar.html" %}
{% load static %}

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				{% block content %}
				{% comment %} <!-- Sidebar Side -->
                <div class="sidebar-side left-sidebar col-lg-3 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top">
						
						<!-- Tags Widget -->
                        <div class="sidebar-widget tags-widget">
							<div class="widget-content">
								<div class="sidebar-title">
									<h6>Temas Populares</h6>
								</div>
								<div class="content">
									<ul>
									{% for category in popular_tags %}
									
										<li><a href="#">{{category}}</a></li>
									{% endfor %}
										
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Categories Widget -->
                        <div class="sidebar-widget categories-widget">
							<div class="widget-content">
								<div class="sidebar-title">
									<h6>Top Categorías</h6>
								</div>
								<div class="content">
									<ul>
										{% for category in top_categories %}
											<li><a href="#"><span class="icon flaticon-web-programming"></span>{{category.name}}</a></li>

										
										{% endfor %}
										
										<!-- <li><a href="category.html"><span class="icon flaticon-web-programming"></span>Desarrollo</a></li>
										<li><a href="category.html"><span class="icon flaticon-pie-chart"></span>Negocios</a></li>
										<li><a href="category.html"><span class="icon flaticon-megaphone"></span>Marketing</a></li>
										<li><a href="category.html"><span class="icon flaticon-computer"></span>IT y Software</a></li>
										<li><a href="category.html"><span class="icon flaticon-picture"></span>Fotografia</a></li>
										<li><a href="category.html"><span class="icon flaticon-ux"></span>UX Design</a></li> -->
									</ul>
									<a href="#" class="all-category">Ver todas las categorias</a>
									<!-- <a href="category.html" class="all-category">Ver todas las categorias</a> -->
								</div>
							</div>
						</div>
						
						<!-- Featured Widget -->
                        <div class="sidebar-widget featured-widget">
							<div class="widget-content">
								<div class="sidebar-title">
									<h6>Instructores Destacados</h6>
								</div>
								<div class="content">
									<div class="featured-carousel owl-carousel owl-theme">
										{% for optimus_instructor in optimus_instructors %}
											{% if optimus_instructor.popular_index >= 3 %}
											
											
												<div class="featured-block">
													<div class="inner-box">
														<div class="image">
															<a href="instructor-profile.html" class="overlay-link"></a>
															<img src="{% static 'core/images/assets/programador-background.jpg' %}" alt="" />
															<!-- Overlay Box -->
															<div class="overlay-box">
																<div class="overlay-inner">
																	<div class="overlay-content">
																		<!-- Author Image -->
																		<div class="author-image">
																			<img src="{% get_media_prefix %}{{instructor.profile_pic}}" alt="" />
																		</div>
																		<div class="name">{{optimus_instructor.user.first_name}}  {{optimus_instructor.user.last_name}}</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											{% endif %}
										
										{% endfor %}
										
										
									</div>
								</div>
							</div>
						</div>
						
						<!--  Support Widget -->
                        <div class="sidebar-widget support-widget">
							<div class="widget-content">
								<h5>Estamos aquí para ayudarte</h5>
								<div class="text">Nuestro equipo de soporte vela por ti 24/7.<br>Recibe ayuda inmediata sobre cualquiera de tus consultas</div>
								<a href="#" class="theme-btn btn-style-one"><span class="txt">Centro de Soporte</span></a>
								<!-- <a href="help.html" class="theme-btn btn-style-one"><span class="txt">Centro de Soporte</span></a> -->
							</div>
						</div>
						
					</aside>
				</div> {% endcomment %}
				
				<!-- Content Side -->
                <div class="content-side right-sidebar col-lg-9 col-md-12 col-sm-12">
					<!-- Sec Title -->
                	<div class="sec-title">
						<div class="clearfix">
							<div class="pull-left">
								<h4>Cursos Destacados</h4>
							</div>
							<div class="pull-right">
								<a href="featured-courses.html" class="see-all">Ver todo</a>
							</div>
						</div>
					</div>
					
					<!-- Featured Section -->
					<div class="featured-section">
						<div class="row clearfix">
							
							<!-- Feature Block Two -->
							{% for course in courses %}

							
							<div class="feature-block-two col-lg-6 col-md-12 col-sm-12">
								<div class="inner-box">
									<div class="content">
										<div class="image">
											<a href="{% url 'course_detail' pk=course.pk %}"><img src="{% get_media_prefix %}{{course.img_main}}" alt="" /></a>
										</div>
										<h6><a href="{% url 'course_detail' pk=course.pk %}">{{course.title}}</a></h6>
										<div class="text">{{course.description}}</div>
										<div class="author">Por: <span>{{course.instructor.user.first_name}} {{course.instructor.user.last_name}}</span></div>
										<div class="clearfix">
											<div class="pull-left">
												<div class="rating">
												{% for score in range_score %}
													{% if score < course.score %}
													
														<span class="fa fa-star"></span>
													{% else %}
														<span class="dark fa fa-star-o"></span>
													{% endif %}
													
												{% endfor %}
												</div>
											</div>
											<div class="pull-right">
												<div class="price">{{course.price}}</div>
											</div>
										</div>
										
										<!-- Featured Dropdown Box -->
										<div class="eps_dots more_dropdown">
											<a href="#"><span></span><i></i></a>
											<div class="dropdown-content">
												<span><i class='flaticon-share'></i>Compartir</span>
												<span><i class="flaticon-down-arrow-1"></i>Guardar</span>
												<span><i class='flaticon-cancel'></i>No me interesa</span>
												<span><i class="flaticon-edit-2"></i>Reportar</span>
											 </div>																										
										</div>
										
									</div>
								</div>
							</div>
							{% endfor %}
							
						</div>
					</div>
					<!-- End Featured Section -->
					
					<!-- Courses Section -->
					<div class="courses-section">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="clearfix">
								<div class="pull-left">
									<h4>Ultimos Cursos</h4>
								</div>
								<div class="pull-right">
									<a href="#" class="see-all">Ver todo</a>
									<!-- <a href="latest-courses.html" class="see-all">Ver todo</a> -->
								</div>
							</div>
						</div>
						<div class="row clearfix">
							{% for latest in latest_courses %}
								<!-- Course Block -->
								<div class="course-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="image">
											<a href="course-lesson.html"><img src="{% get_media_prefix %}{{latest.img_main}}" alt="" /></a>
											<div class="time">duration</div>
										</div>
										<div class="lower-content">
											<h6><a href="{% url 'course_detail' pk=latest.pk %}">{{latest.title}}</a></h6>
											<ul class="post-meta">
											
												{% for tag in latest.tags.all %}
													<li>{{tag}}</li>
												{% endfor %}
											</ul>
											<div class="clearfix">
												<div class="pull-left">
													<div class="author">Por: <span>{{latest.instructor.user.first_name}} {{latest.instructor.user.last_name}}</span></div>
												</div>
												<div class="pull-right">
													<div class="price">${{latest.price}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							
							{% endfor %}
							
							
						</div>
					</div>
					<!-- End Courses Section -->
					
					<!-- Team Section -->
					<div class="team-section">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="clearfix">
								<div class="pull-left">
									<h4>Instructores Populares</h4>
								</div>
								<div class="pull-right">
									<a href="#" class="see-all">Ver todo</a>
									<!-- <a href="team.html" class="see-all">Ver todo</a> -->
								</div>
							</div>
						</div>
						<div class="row clearfix">
							{% for instructor in instructors %}
								<!-- Team Block -->
								<div class="team-block col-lg-3 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="image">
											<a href="instructor-profile.html"><img src="{% get_media_prefix %}{{instructor.profile_pic}}" alt="" /></a>
										</div>
										<div class="name"><a href="instructor-profile.html">{{instructor.user.first_name}} {{instructor.user.last_name}}</a></div>
										<div class="designation"><br></div>
										<div class="text">{{instructor.about}}</div>
										<div class="courses">{{instructor.courses_count}} cursos, {{instructor.students_count}} estudiantes</div>
										<ul class="social-box">
											<li class="facebook"><a href="#" class="fa fa-facebook"></a></li>
											<li class="google"><a href="#" class="fa fa-google"></a></li>
											<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
										</ul>
									</div>
								</div>

							{% endfor %}
							
						</div>
					</div>
					<!-- End Team Section -->
					
					<!-- Testimonial Section -->
					<div class="testimonial-section">
						<!-- Sec Title -->
						<div class="sec-title">
							<h4>Lo que dicen nuestros estudiantes</h4>
						</div>
						<div class="testimonial-carousel owl-carousel owl-theme">

									{% comment %} <div class="testimonial-block">
									<div class="inner-box">
										<div class="quote flaticon-quote"></div>
										<div class="image">
											<img src="images/assets/virtual-events-studentt.jpg" alt="" />
										</div>
										<div class="name">Algo</div>
										<div class="designation">Algo</div>
										
										<div class="text">Algo</div>
									</div>
								</div> {% endcomment %}

							{% for opinion in opinions %}
							<!-- Testimonial Block -->
								{% if opinion.user.is_student %}
									<div class="testimonial-block">
									<div class="inner-box">
										<div class="quote flaticon-quote"></div>
										<div class="image">
											<img src="{% get_media_prefix %}{{opinion.user.profile_pic}}" alt="" />
										</div>
										<div class="name">{{opinion.user}}</div>
										<div class="designation">{{opinion.user}}</div>
										
										<div class="text">{{opinion.message}}</div>
									</div>
								</div>
								{% endif %}
							
							{% endfor %}
							
						</div>
					</div>
					<!-- End Testimonial Section -->
					
				</div>
				
				{% endblock %}
			</div>
		</div>
	</div>



