{% extends 'core/base.html' %}


{% block normal %}
	<!-- Sign Up Section -->
    <section class="signup-section login-section" style="background-image:url(images/background/pattern-4.png)">
    	<div class="auto-container">
			<div class="logo">
				<!-- <a href="index.html"><img src="images/assets/logo-getcursos.png" alt="" /></a> -->
			</div>
        	<div class="inner-container">
            	<h2>Bienvenido de nuevo a <span class="theme_color">getcursos</span></h2>
				<div class="text">Inicia sesión y comienza a aprender</div>
				
				<!-- Login Form -->
				<div class="styled-form">
					{% if request.GET.error %}
						<small class="text-danger">Usuario o Contraseña Incorrecta</small>
					
					{% endif %}
					<form method="post" action="{% url 'login' %}">
						{% csrf_token %}
						<!-- Form Group -->
						<div class="form-group">
							{{login_form.email}}
						</div>
						
						<!-- Form Group -->
						<div class="form-group">
							
										{{login_form.password}}
						</div>
						
						<div class="form-group">
							<div class="clearfix">
								<div class="pull-left">
									<div class="check-box">
										<label for="type-1">Recordar mi contraseña</label>
									</div>
								</div>
								<div class="pull-right">
									<a href="#" class="forgot">¿Olvidaste tu contraseña?</a> 
								</div>
							</div>
						</div>
						
						<div class="form-group text-center">
							<button class="theme-btn btn-style-one"><span class="txt">Iniciar Sesión</span></button>
						</div>
						
						<div class="form-group">
							<div class="users">¿Nuevo usuario? <a href="{% url 'register' %}">Registrate</a></div>
						</div>
						
					</form>
				</div>
				
				<!-- Social Boxed -->
				<div class="social-boxed text-center">
					<a href="#"><span class="icon fa fa-facebook"></span>Continuar con Facebook</a>
					<a class="linkedin" href="#"><span class="icon fa fa-linkedin"></span>Continuar con Linkedin</a>
					<a class="twitter" href="#"><span class="icon fa fa-twitter"></span>Continuar con Twitter</a>
				</div>
				
            </div>
			
			<!-- Copyright -->
			<div class="copyright">Copyright © 2021 Mosqueda Córdova</div>
			
        </div>
    </section>
	<!-- End Sign Up Section -->
	
</div>
<!-- End pagewrapper -->

{% endblock %}
