{% extends 'core/base.html' %}
{% load static %}
	{% block content %}
	<!-- Category Page Container -->
	{% for category in object_list %}

		<div class="category-page-container">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title">
					<h4>{{category.name}}</h4>
				</div>
				<div class="single-item-carousel owl-carousel owl-theme">
				
					<div class="slide">
						<div class="row clearfix">

					{% for course in category.course_set.all %}

							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="{% get_media_prefix %}{{course.img_main}}" alt="" /></a>
										<div class="time">15 horas</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">{{course.title}}</a></h6>
										<ul class="post-meta">
											{% for tag in course.tags.all %}
												<li>{{tag}}</li>
											{% endfor %}
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>{{course.instructor.user.first_name}} {{course.instructor.user.last_name}}</span></div>
											</div>
											<div class="pull-right">
												<div class="price">${{course.price}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					{% endfor %}
							<!-- Course Block -->
							

							
						</div>
					</div>
					
					<div class="slide">
						<div class="row clearfix">

							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/flutter.png" alt="" /></a>
										<div class="time">15 horas</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Curso de desarrollo de aplicaciones para Android, iOS y Web con Flutter</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>Flutter</li>
											<li>iOS</li>
											<li>Android</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Alex Gutierrez</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/wallpaper_iOS14.jpg" alt="" /></a>
										<div class="time">07 hours</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Aprende Desarrollo en iOS, Diseño Web y Freelancing</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>iOS</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Gina Castillo</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/flutter.png" alt="" /></a>
										<div class="time">15 horas</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Curso de desarrollo de aplicaciones para Android, iOS y Web con Flutter</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>Flutter</li>
											<li>iOS</li>
											<li>Android</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Alex Gutierrez</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/wallpaper_iOS14.jpg" alt="" /></a>
										<div class="time">07 hours</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Aprende Desarrollo en iOS, Diseño Web y Freelancing</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>iOS</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Gina Castillo</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/flutter.png" alt="" /></a>
										<div class="time">15 horas</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Curso de desarrollo de aplicaciones para Android, iOS y Web con Flutter</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>Flutter</li>
											<li>iOS</li>
											<li>Android</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Alex Gutierrez</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/wallpaper_iOS14.jpg" alt="" /></a>
										<div class="time">07 hours</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Aprende Desarrollo en iOS, Diseño Web y Freelancing</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>iOS</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Gina Castillo</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/flutter.png" alt="" /></a>
										<div class="time">15 horas</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Curso de desarrollo de aplicaciones para Android, iOS y Web con Flutter</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>Flutter</li>
											<li>iOS</li>
											<li>Android</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Alex Gutierrez</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/wallpaper_iOS14.jpg" alt="" /></a>
										<div class="time">07 hours</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Aprende Desarrollo en iOS, Diseño Web y Freelancing</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>iOS</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Gina Castillo</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				
					<div class="slide">
						<div class="row clearfix">
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/flutter.png" alt="" /></a>
										<div class="time">15 horas</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Curso de desarrollo de aplicaciones para Android, iOS y Web con Flutter</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>Flutter</li>
											<li>iOS</li>
											<li>Android</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Alex Gutierrez</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/wallpaper_iOS14.jpg" alt="" /></a>
										<div class="time">07 hours</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Aprende Desarrollo en iOS, Diseño Web y Freelancing</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>iOS</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Gina Castillo</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/flutter.png" alt="" /></a>
										<div class="time">15 horas</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Curso de desarrollo de aplicaciones para Android, iOS y Web con Flutter</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>Flutter</li>
											<li>iOS</li>
											<li>Android</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Alex Gutierrez</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/wallpaper_iOS14.jpg" alt="" /></a>
										<div class="time">07 hours</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Aprende Desarrollo en iOS, Diseño Web y Freelancing</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>iOS</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Gina Castillo</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/flutter.png" alt="" /></a>
										<div class="time">15 horas</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Curso de desarrollo de aplicaciones para Android, iOS y Web con Flutter</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>Flutter</li>
											<li>iOS</li>
											<li>Android</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Alex Gutierrez</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/wallpaper_iOS14.jpg" alt="" /></a>
										<div class="time">07 hours</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Aprende Desarrollo en iOS, Diseño Web y Freelancing</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>iOS</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Gina Castillo</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/flutter.png" alt="" /></a>
										<div class="time">15 horas</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Curso de desarrollo de aplicaciones para Android, iOS y Web con Flutter</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>Flutter</li>
											<li>iOS</li>
											<li>Android</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Alex Gutierrez</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Course Block -->
							<div class="course-block col-lg-3 col-md-4 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="course-lesson.html"><img src="images/assets/wallpaper_iOS14.jpg" alt="" /></a>
										<div class="time">07 hours</div>
									</div>
									<div class="lower-content">
										<h6><a href="course-lesson.html">Aprende Desarrollo en iOS, Diseño Web y Freelancing</a></h6>
										<ul class="post-meta">
											<li>Desarrollo</li>
											<li>iOS</li>
										</ul>
										<div class="clearfix">
											<div class="pull-left">
												<div class="author">Por: <span>Gina Castillo</span></div>
											</div>
											<div class="pull-right">
												<div class="price">$15</div>
											</div>
										</div>
									</div>
								</div>
							</div>
								
						</div>
					</div>
				</div>
				
			</div>
		</div>
	{% endfor %}
	

	<!-- Post Share Options -->
			<div class="styled-pagination margin-top text-center">
				<ul class="clearfix">
					<li class="arrow"><a href="#"><span class="fa fa-angle-left"></span> </a></li>
					<li class="prev"><a href="#">Anterior</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li class="active"><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li class="next"><a href="#">Siguiente</a></li>
					<li class="arrow"><a href="#"><span class="fa fa-angle-right"></span> </a></li>
				</ul>
			</div>
	{% endblock %}